<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{t}}</title>
</head>
<body>
    <h1>提交成功</h1>
{#    <form action="" method="post" name="login">#}
{#        {{ f.hidden_tag() }}#}
{#        <p>#}
{#            {% for m in get_flashed_messages() %}#}
{#            {{ m }}<br>#}
{#            {% endfor %}#}
{#            请输入你的<br>#}
{#            {{ f.datatime() }}<br>#}
{#           {% for e in f.datatime.errors %}#}
{#                <span style="color: #ff0000">{{e}}</span>#}
{#           {% endfor %}#}
{#        </p>#}
{#        <p>{{ f.ron }}记住我</p>#}
{#        <p><input type="submit" value="登录"></p>#}
{#    </form>#}
</body>
</html>